<!-- get-flights-with-doctors.component.html -->
<h2>Get Flights with Doctors</h2>
<form (ngSubmit)="onGetFlightsWithDoctors()">
  <div class="form-group">
    <label for="doctorSelect">Select Doctor:</label>
    <select id="doctorSelect" [(ngModel)]="selectedDoctorId" name="selectedDoctorId" class="form-control">
      <option value="" disabled>Select a doctor</option>
      <option *ngFor="let doctor of doctors" [value]="doctor.id">
        {{ doctor.firstName }} {{ doctor.lastName }}
      </option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Get Flights</button>
</form>
<p>{{ message }}</p>
<ul>
  <li *ngFor="let flight of flights">{{ flight | json }}</li>
</ul>
